# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*/.mvn
*/target
/platform-gateway/src/main/resources/application.yml
/platform-gateway/src/main/resources/bootstrap.yml
